.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__score {
  width: 100%;
  max-width: 640px;
  height: auto;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: end;
}

.container__score span {
  width: 120px;
  height: auto;
  margin-right: 12px;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 4px;
  background-color: var(--light-green);
  box-shadow: 1px 1px 8px var(--dark-green);
  color: white;
}

.container__main {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 4px 4px 12px var(--dark-green);
}

.container__main h1 {
  text-align: center;
  color: var(--light-green);
}

.container__secondary {
  width: 100%;
  height: 300;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.container__secondary div img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.container__secondary img:hover {
  transform: scale(1.04);
}

.container__secondary h3 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--dark-green);
}




